body,
h1,
h2,
h3,
span,
p,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  color: #461220;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: rgb(255, 247, 240);
}

.logo {
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo img {
  width: 150px;
}

.menu {
  padding-bottom: 30px;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  text-transform: uppercase;
}

.menu li {
  font-size: 1.1rem;
  font-weight: 600;
}

.principal-bg {
  background: url("../../image/fachada.jpg");
  background-repeat: no-repeat;
  background-size: 100vw;
  display: block;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

.principal-bg h1 {
  padding-bottom: 30px;
  color: #fff;
  font-size: 3rem;
}

.principal-bg button {
  color: #461220;
  border: 2px solid white;
  padding: 12px 12px;
  border-radius: 3px;
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
}

.detalhe {
  width: 200px;
  height: 2px;
  border-top: 3px solid #461420;
  border-bottom: 3px solid #461420;
  margin: 0px auto 20px auto;

}

.menu-produtos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #461220;
  padding: 20px 60px;
}

.menu-produto {
  display: block;
  text-align: center;
}

.menu-produto img {
  max-width: 50px;
  filter: invert(1);
}

.menu-produto h2 {
  color: white;
}

.sobre {
  background-color: #fff;
}

.sobre h1,
.cuidados h1,
.depoimentos h1 {
  font-size: 3.2rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  color: #461220;
}

.sobre-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 50px;
  padding-bottom: 40px;
}

.sobre-info img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin-left: 20px;
}

.sobre-info h2 {
  color: #461220;
  font-family: "Raleway", Sans-serif;
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 10px;
}

.sobre-info p {
  text-align: justify;
  color: #3F3F3F;
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.4px;
  max-width: 80ch;
  padding-bottom: 20px;
}

.sobre-extra {
  display: flex;
  gap: 20px;
}

.sobre-extra h3 {
  padding-bottom: 10px;
  font-family: "Raleway", Sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.sobre-extra img {
  max-width: 100px;
  object-fit: contain;
}

.btn-produtos {
  display: block;
  width: 150px;
  border-radius: 6px;
  background-color: #461220;
  color: #fff;
  padding: 10px 15px;
  margin: 0 auto;
  text-align: center;
}

.destaques-produtos {
  padding-bottom: 60px;
}

.destaques-produtos h1 {
  font-size: 3.2rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
  color: #461220;
}

.produtos-flex {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  gap: 40px;
}

.produtos-display img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 4px;
}

.cuidados {
  background-color: #fff;
  padding-bottom: 60px;
}

.cuidados-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
  align-items: center;
  text-align: justify;
}

.cesta {
  max-width: 750px;
  width: 35vw;
}

.caneca {
  display: grid;
  grid-template-columns: 100px 1fr;
  background: #461220;
  margin-top: 20px;
  padding: 15px 10px;
  color: #fff;
  border-radius: 8px;
  align-items: center;
}

.caneca img {
  width: 100px;
}

.caneca span {
  display: block;
  padding: 20px;
}

/* Depoimento */
.icon-cards {
  position: relative;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  margin: 0;
  color: white;
  perspective: 1000px;
  transform-origin: center;
}

.icon-cards__content {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: translateZ(-30vw) rotateY(0);
  animation: carousel 15s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
  margin-top: 40px;
}

.icon-cards__content.step-animation {
  animation: carousel 8s infinite steps(1) forwards;
}

.icon-cards__item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 60vw;
  height: 40vw;
  max-width: 380px;
  max-height: 250px;
  box-shadow: 2px 2px 1px rgb(0, 0, 0, 0.4);
  border-radius: 8px;
  transform-origin: center;
}

.icon-cards__item:nth-child(1) {
  background: #461220;
  transform: rotateY(0) translateZ(50vw);
}

.icon-cards__item:nth-child(2) {
  background: #ccac7b;
  transform: rotateY(120deg) translateZ(50vw);
}

.icon-cards__item:nth-child(3) {
  background: #a8505c;
  transform: rotateY(240deg) translateZ(50vw);
}

@keyframes carousel {

  0%,
  17.5% {
    transform: translateZ(-35vw) rotateY(0);
  }

  27.5%,
  45% {
    transform: translateZ(-35vw) rotateY(-120deg);
  }

  55%,
  72.5% {
    transform: translateZ(-35vw) rotateY(-240deg);
  }

  82.5%,
  100% {
    transform: translateZ(-35vw) rotateY(-360deg);
  }
}

.depoimentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(255, 247, 240);
  margin-bottom: 150px;
}

.depoimentos-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.depoimentos-item img {
  width:120px;
}

.depoimentos-item span {
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.depoimentos-item p {
  font-size: 1.2rem;
  font-style: italic;
  margin: 0 40px;
  font-family: "Merriweather", serif;
}


.depoimentos-item p::after, .depoimentos-item p::before {
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
}

.depoimentos-item p::before {
  content: "“";
  left: 10px;
  top: 70px;
}

.depoimentos-item p::after {
  content: "”";
  right: 20px;
  bottom: 70px;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

}

.footer-bg {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 60px;
}

.icone {
  width: 25px;
}

.logo-rodape img{
  max-width: 150px;
}